.input-data {
  margin-bottom: 1rem;
}
.generated input {
  text-align: center;
}
.big-input-text {
  color: var(--first-color);
}
.valid-text {
  color: var(--success);
}
#valid-text-copy-cnpj {
  text-align: right;
  display: none;
}
