
.input-data {
  margin-bottom: 1rem;
}
.input-data input {
  text-align: center;
}
span.valid-text {
  color: var(--success);
  text-align: right;
}
span.invalid-text {
  color: var(--error);
  text-align: right;
}
.valid-text,
.invalid-text {
  display: none;
}

@media (min-width: 960px) {

}
