footer {
  background-color: var(--background);
  border-top: 1px solid var(--first-color);
  font-size: 13px;
  width: 100%;
  padding-top: 10px;
}

footer p {
  color: var(--first-color);
  text-align: center;
}

footer p a {
  padding: 5px;
  border-radius: 3px;
}

footer p a:active {
  text-decoration: none;
}
