footer {
  background-color: #555555;
  font-size: 13px;
  width: 100%;
  padding-top: 10px;
}

footer p {
  color: #FFFFFF;
  text-align: center;
}

footer p a {
  padding: 5px;
  border-radius: 3px;
}

footer p:link, footer p a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

footer p a:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #555555
}

footer p a:active {
  text-decoration: none;
}