.flex-grid {
  display: flex;
  flex-wrap: wrap;
}
.grid-1, .grid-2, .grid-3, .grid-4,
.grid-5, .grid-6, .grid-7, .grid-8,
.grid-9, .grid-10, .grid-11, .grid-12,
.grid-13, .grid-14, .grid-15, .grid-16 {
  margin-left: 10px;
  margin-right: 10px;
  align-self: flex-start;
}

.mobile-1, .mobile-2, .mobile-3 {
  margin-left: 10px;
  margin-right: 10px;
  align-items: flex-start;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8,
.grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16 {
  flex: 0 0 calc(100% - 20px);
  max-width: 0 0 calc(100% - 20px);
}

.mobile-1 {
  flex: 0 0 calc(20% - 20px);
  max-width: 0 0 calc(20% - 20px);
}

.mobile-2{
  flex: 0 0 calc(25% - 20px);
  max-width: 0 0 calc(25% - 20px);
}

.mobile-3 {
  flex: 0 0 calc(50% - 20px);
  max-width: 0 0 calc(50% - 20px);
}


@media(min-width: 630px){
}

@media(min-width: 960px){
  .grid-1 {
    flex: 0 0 calc(6.25% - 20px);
    max-width: 0 0 calc(6.25% - 20px);
  }
  .grid-2 {
    flex: 0 0 calc(12.5% - 20px);
    max-width: 0 0 calc(12.5% - 20px);
  }
  .grid-3 {
    flex: 0 0 calc(18.75% - 20px);
    max-width: 0 0 calc(18.75% - 20px);
  }
  .grid-4 {
    flex: 0 0 calc(25% - 20px);
    max-width: 0 0 calc(25% - 20px);
  }
  .grid-5 {
    flex: 0 0 calc(31.25% - 20px);
    max-width: 0 0 calc(31.25% - 20px);
  }
  .grid-6 {
    flex: 0 0 calc(37.5% - 20px);
    max-width: 0 0 calc(37.5% - 20px);
  }
  .grid-7 {
    flex: 0 0 calc(43.75% - 20px);
    max-width: 0 0 calc(43.75% - 20px);
  }
  .grid-8 {
    flex: 0 0 calc(50% - 20px);
    max-width: 0 0 calc(50% - 20px);
  }
  .grid-9 {
    flex: 0 0 calc(56.25% - 20px);
    max-width: 0 0 calc(56.25% - 20px);
  }
  .grid-10 {
    flex: 0 0 calc(62.5% - 20px);
    max-width: 0 0 calc(62.5% - 20px);
  }
  .grid-11 {
    flex: 0 0 calc(68.75% - 20px);
    max-width: 0 0 calc(68.75% - 20px);
  }
  .grid-12 {
    flex: 0 0 calc(75% - 20px);
    max-width: 0 0 calc(75% - 20px);
  }
  .grid-13 {
    flex: 0 0 calc(81.25% - 20px);
    max-width: 0 0 calc(81.25% - 20px);
  }
  .grid-14 {
    flex: 0 0 calc(87.25% - 20px);
    max-width: 0 0 calc(87.25% - 20px);
  }
  .grid-15 {
    flex: 0 0 calc(93.75% - 20px);
    max-width: 0 0 calc(93.75% - 20px);
  }
  .grid-16 {
    flex: 0 0 calc(100% - 20px);
    max-width: 0 0 calc(100% - 20px);
  }
}
