.wasm-box {
  vertical-align: middle;
  text-align: center;
  margin-bottom: 1.5rem;
}
.wasm-box img {
  width: 300px;
}
.wasm-box p {
  font-size: 1.75rem;
  color: var(--first-color);
  font-weight: bold;
  text-align: center;
}
