main {
  padding: 2rem 1rem;
  color: #555555;
}
.info {
  height: 3rem;
}
.gerar-cnpj {
  display: flex;
  height: 100%;
}
.gerar-cnpj-input {
  height: 100%;
}
.gerar-cnpj-input input{
  border: .25rem solid #FFE08A;
  border-radius: 5px;
  height: 100%;
  outline: none;
}
.rdn-gen-link {
  border: 1.5px solid #74B4E8;
  color: #74B4E8;
  border-radius: 5px;
  background-color: #FFFFFF;
  height: 100%;
  margin-left: 1rem;
}
.rdn-gen-link:hover {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #74B4E8;
}
.uf-select {
  height: 100%;
}
.uf-select label {
  line-height: 100%;
  margin-right: 1rem;
}
.uf-select select {
  border: .25rem solid #FFE08A;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #555555;
  height: 100%;
  outline: none;
}
.uf-select select:hover {
  cursor: pointer;
}
.year-month-group {
  height: 100%;
}
.year-month-group label{
  line-height: 100%;
  margin-right: 1rem;
}
.year-month-group select {
  border: .25rem solid #FFE08A;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #555555;
  height: 100%;
  outline: none;
}
.year-month-group select:hover {
  cursor: pointer;
}

.flex-grid {
  border: 1px solid red;
  margin: 10px 0;
}

@media(min-width: 960px){
  main {
    padding-left: 0;
    padding-right: 0;
  }
}