main {
  padding: 0 1rem;
}
main .flex-grid div {
  margin-bottom: 1rem;
}
.input-data input {
  text-align: center;
}
#cnpj-input.erro {
  border-color: var(--error);
}
#cnpj-input.erro button {
  border-color: transparent transparent transparent var(--error);
}
#valid-text-copy-nfe {
  margin: 1rem 0;
  display: none;
  color: var(--success);
}

@media (min-width: 960px) {
  main {
    padding: 2rem 1rem;
    color: var(--first-color);
  }

  main {
    padding-left: 0;
    padding-right: 0;
  }
}
