/* main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 0 0.5rem;
}
.wasm-img {
  width: 300px;
}

@media (max-width: 960px) {
  main {
    border-radius: 0;
  }
}
